@media (min-width: 768px){
    .modal-dialog {
        width: 500px;
        margin: 30px auto;
    }
}

.modal .modal-dialog {
    -webkit-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
    transform: translate(0, 70%);
    -webkit-transition: unset;
    -moz-transition: unset;
    -o-transition: unset;
    transition: unset;
}

.modal-header {
    background-color: #666;
    color: #fff;
}

.modal-body {
    font-size: 14px;
    min-height: 100px;
}

.show {
    background: rgba(255, 255, 255, 0.45);
}

.px-15 {
    padding: 0 15px;
}
.popover {
    position: absolute;
    top: 10px;
    left: 450px;
    z-index: 1060;
    width: 220px;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(255, 0, 0, 0.5);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    line-break: auto;
    color: rgba(255, 0, 0, 0.6);
}

.popover>.arrow, .popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover>.arrow {
    border-width: 11px;
}

.popover>.arrow:after {
    content: "";
    border-width: 10px;
}

.bs-popover-top>.arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: rgba(255, 0, 0, 0.6);
    border-left-width: 0;
}
.bs-popover-top>.arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0;
}

.popover-body {
    padding: 9px 14px;
    text-align: center;
}

.close-white {
    background-color: #666;
    border: 0px;
    position: absolute;
    top: 10px;
    right: 10px;
}
